<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="kr.co.cafenrecipe.board.dao.BoardDAO">

	<select id="list" resultType="board">
		SELECT idx, subject, name, bHit FROM bbs
			ORDER BY idx DESC
	</select>

	<insert id="write" parameterType="hashmap">
		INSERT INTO bbs(subject, name, content)
			VALUES(#{subject},#{name},#{content})
	</insert>
	
	<update id="upHit">
		UPDATE bbs SET bHit = bHit+1 
			WHERE idx = #{param1}
	</update>
	
	<select id="detail" resultType="kr.co.cafenrecipe.board.dto.BoardDTO">
		SELECT * FROM bbs WHERE idx = #{param1}
	</select>
	
	<delete id="delete">
		DELETE FROM bbs WHERE idx = #{param1}
	</delete>

</mapper>